<ul class="nav navbar-nav">
	{% for element in menu %}
		{% if element.below|length == 0 %}
			<li class="{{ element.classes }}"><a href="{{ element.link.link_path }}">{{ element.link.link_title }}</a></li>
		{% else %}
			<li class="dropdown {{ element.classes }}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ element.link.link_title }}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% for element2 in element.below %}
						<li class="{{ element2.classes }}"><a href="{{ element2.link.link_path }}">{{ element2.link.link_title }}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% endif %}
	{% endfor %}
</ul>

