<div class="wrapper">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<header id="navbar" role="banner" class="navbar">
				<div class="navbar-inner">
					<a href="/"><img width="150" src="/themes/makerspace/images/makerspace_logo.svg" class="logo" alt="Makerspace Logo"></a>
					{% if site_name %}
						<h1 id="site-name">
							<a href="{{ front_page }}" title="{{ 'Home'|t }}" class="brand">{{ site_name }}</a>
						</h1>
					{% endif %}

					{% if logged_in %}
						{{ makerspace_userbox }}
					{% else %}
						<div class="loginbox">
							<form method="post" action="/user">
								<input type="hidden" value="user_login_form" name="form_id">
								<p>Medlemsinloggning</p>
								<div class="input-group">
									<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-user"></span></span>
									<input type="text" class="form-control input-sm" name="name" placeholder="Användarnamn">
								</div>
								<div class="input-group pwdgroup">
									<span class="input-group-addon input-sm"><span class="glyphicon glyphicon-lock"></span></span>
									<input type="password" class="form-control input-sm" name="pass" placeholder="Lösenord">
								</div>
								<a href="/user/password"><small>Begär nytt lösenord »</small></a>
								<button type="submit"><small>Logga in »</small></button>
							</form>
						</div>
					{% endif %}

					<nav class="navbar navbar-inverse" role="navigation">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							{{ makerspace_menu }}

							<form method="post" action="/search/node" role="search" class="navbar-form navbar-right">
								<input type="hidden" value="l4uZszWofJ26NGiTG341UdTPvaPVOvVYxUPKhZs0Jtw" name="form_token">
								<input type="hidden" name="form_id" value="search_block_form">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
									<input type="text" name="search_block_form" placeholder="Sök..." class="form-control">
								</div>
							</form>
						</div><!--container end -->
					</nav>
				</div> <!-- /.navbar-inner -->
			</header>

			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<header role="banner" id="page-header">
							{{ page.header }}
						</header>

						{% if page.sidebar_first %}
							<aside class="col-md-3" role="complementary">
								{{ page.sidebar_first }}
							</aside>  <!-- /#sidebar-first -->
						{% endif %}

						<section class="col-md-{{ content_span }}">
							<a id="main-content"></a>
							{% if breadcrumb %} {{ breadcrumb }} {% endif %}
							{{ title_prefix }}
							{% if title %}
								<h1 class="page-header">{{ title }}</h1>
							{% endif %}
							{{ title_suffix }}

							{% if page.highlighted %}
								<div class="highlighted hero-unit">{{ page.highlighted }}</div>
							{% endif %}
							{{ messages }}
							{% if tabs %}
								{{ tabs }}
							{% endif %}
							{% if page.help %}
								<div class="well">{{ page.help }}</div>
							{% endif %}
							{% if action_links %}
								<ul class="action-links">{{ action_links }}</ul>
							{% endif %}
                                                        {{ page.content_top }}
							{{ page.content }}
                                                        {{ page.content_bottom }}
						</section>

						{% if page.sidebar_second %}
							<aside class="col-md-3" role="complementary list-group">
								{{ page.sidebar_second }}
							</aside>  <!-- /#sidebar-second -->
						{% endif %}
					</div> <!-- .row end -->
				</div> <!-- .col-md-10 end -->
			</div> <!-- .row end -->

			<footer class="makerspace-footer">
				<div class="row">
					{{ page.footer }}
					<div class="col-md-3">
						{{ page.footer1 }}
					</div>
					<div class="col-md-3">
						{{ page.footer2 }}
					</div>
					<div class="col-md-3">
						{{ page.footer3 }}
					</div>
					<div class="col-md-3">
						{{ page.footer4 }}
					</div>
				</div>
			</footer>
		</div><!-- .col-md-10 end -->
		<div class="col-md-1"></div>
	</div><!-- .row end -->
</div><!-- .wrapper end -->
